<h2>Yeni Kitap Ekle</h2>
<form method="post">
    <label>Kitap Adı:</label>
    <input type="text" name="KitapAdi"/><br/>
    <label>Yazar:</label>
    <input type="text" name="Yazar"/><br/>
    <button type="submit">Kaydet</button>
</form>