<h2>Giriş</h2>
<form method="post">
    <label>Kullanıcı Adı:</label>
    <input type="text" name="KullaniciAdi"/>
    <br/>
    <label>Şifre:</label>
    <input type="password" name="Sifre"/>
    <br/>
    <button type="submit">Giriş Yap</button>
</form>
@if (ViewBag.Hata != null){
    <p style="color: red;">@ViewBag.Hata</p>
}