@{
    ViewData["Title"] = "Kitap Bilgisi";
}
<h2>@ViewData["Title"]</h2>
<div style="text-align: center;">
    <p><strong>Kitap Adı:</strong>
    @ViewBag.Kitap.KitapAdi</p>

    <p><strong>Yazar:</strong>
    @ViewBag.Kitap.Yazar</p>
</div>