<h2>Kitap Listesi</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>Kitap Adı</th>
        <th>Yazar</th>
    </tr>
    @foreach(var kitap in Model){
        <tr>
            <td>@kitap.KitapAdi</td>
            <td>@kitap.Yazar</td>
        </tr>
    }
</table>